{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header">
			{% block header %}
					<div class="header-content">
						<img class="header-icon" src="{{site.theme.path}}/images/the-cakery-icon.png" alt="The Cakery - An Organic Bakery" />
						<div class="header-titles">
							<h1 class="header-title" role="banner">
								<a class="header-title-link" href="{{site.url}}" rel="home">{{site.name}}</a>
							</h1>
							<h2 class="header-description">
								{{site.description}}
							</h2>
						</div>
					</div>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
