{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="main">
			<header class="header">
				{% block header %}
						<div class="header-content">
							<img class="header-icon" src="{{site.icon}}" alt="{{site.name}}" />
							<div class="header-titles">
								<h1 class="header-title" role="banner">
									<a class="header-title-link" href="{{site.url}}" rel="home">{{site.name}}</a>
								</h1>
								<h2 class="header-description">
									{{site.description}}
								</h2>
							</div>
						</div>
						<nav id="nav-main" class="nav-main" role="navigation">
							{% include "menu.twig" with {'menu': top_menu.get_items} %}
						</nav><!-- #nav -->
				{% endblock %}
			</header>

			<main id="main-content">
				<div class="wrapper">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
			</main>

			{% block footer %}
				<footer class="footer">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
		<div class="nav-mobile-container">
			<div class="nav-mobile-overlay"></div>
			<nav class="nav-mobile" role="navigation">
				{% include "menu-mobile.twig" with {'menu': top_menu.get_items} %}
			</nav><!-- #nav -->
		</div>
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.js"
			integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
			crossorigin="anonymous"></script>
		<!-- build:js /static/site.js -->
		<script src="{{site.theme.link}}/static/site.js"></script>
		<!-- endbuild -->
	</body>
</html>
