<div class="blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
  <div class="comment-author">
    <span class="author">{{comment.author.name}}</span>
    <span class="date">{{comment.date}} {{comment.time}}</span>
  </div>
  <div class="comment-content">{{comment.comment_content|wpautop}}</div>
</div>
<section class="replies">
  <!-- child comments -->
  {% if comment.children %}
  <div class="reply-comment">
    {% for cmt in comment.children %} {% include "comment.twig" with {comment:cmt} %} {% endfor %}
  </div>
  {% endif %}
</section>