{% extends "base.twig" %}

{% block content %}
  <div class="featured-images">
    <img src="{{TimberImage(post.featured_image_1).src|resize(1280)}}" />
    <img src="{{TimberImage(post.featured_image_2).src|resize(1280)}}" />
    <img src="{{TimberImage(post.featured_image_3).src|resize(1280)}}" />        
  </div>
	<div class="content-wrapper">
		<div>
			<section class="page-home">
        <div class="page-home-description">
          {{post.description|wpautop}}
        </div>
        <div class="page-home-contact">
          <div class="address contact-field">
            <h3 class="contact-title">Address</h3>
            {{post.address|wpautop}}
          </div>
          <div class="phone contact-field">
            <h3 class="contact-title">Phone Number</h3>          
            {{post.phone_number|wpautop}}
          </div>
          <div class="hours contact-field">
            <h3 class="contact-title">Hours</h3>          
            {{post.hours|wpautop}}
          </div>
        </div>
			</section>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}