{% extends "base.twig" %}

{% block content %} 
  {% if post.thumbnail %}
  <img class="post-image" src="{{ post.thumbnail.src|resize(1920) }}"> {% endif %}
  <div class="content-wrapper">
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
      <section class="article-content">
        <h1 class="article-h1">{{ post.title }}</h1>
        <p class="blog-author">
          by<a href="{{post.author.path}}"> {{ post.author.name }} </a>
          <span>&bull;</span>
          <span class="date">{{ post.date }}</span>
          <span class="time">{{ post.time }}</span>
        </p>
        <div class="article-body">
          {{post.content}}
        </div>
      </section>
    </article>
  </div>
  <!-- /content-wrapper -->
  <!-- comment box -->
  <section class="comment-box">
    <!-- comments -->
    <div class="comments">
      {% if post.comments %}
      <h3 class="comment-box-title"> Comments ({{post.comments.count}})</h3>
      {% for cmt in post.comments %} {% include "comment.twig" with {comment:cmt} %} {% endfor %} {% endif %}
    </div>

    {% if post.comment_status == "closed" %}
    <p> comments for this post are closed </p>
    {% else %}
    <!-- comment form -->
    {% include "comment-form.twig" %} {% endif %}
  </section>
  <div class="post-navigation">
    <div class="prev">
      {% if post.prev %}
      <a href="{{post.prev.link}}"><span>Previous post</span> {{post.prev}}</a> {% endif %}
    </div>
    <div class="next">
      {% if post.next %}
      <a href="{{post.next.link}}"><span>Next post</span> {{post.next}}</a> {% endif %}
    </div>
  </div>
{% endblock %}