<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% if post.thumbnail.src %}
		<img class="tease-thumbnail" src="{{post.thumbnail.src|resize(768)}}" alt="{{post.thumbnail.alt}}" />
	{% endif %}
	<div class="tease-content">
		<h2 class="h2 tease-title"><a class="link tease-link" href="{{post.link}}">{{post.title}}</a></h2>
		<p class="tease-preview">{{post.get_preview(20)}}</p>
		<p class="byline">
			<span class="date">{{ post.date }}</span>		
		</p>
	</div>
</article>